@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75,500;1,75,500&display=swap");

/* Общие стили */
body {
  font-family: "Roboto", sans-serif;
  background-color: #1c1c1c;
  color: #fff;
}

a {
  color: #fff;
  text-decoration: none;
}

p {
  margin: 0;
}

p + p {
  margin-top: 15px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  margin: 0;
}

img {
  max-width: 100%;
}

.container {
  box-sizing: border-box;

  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 165px;
  height: 50px;

  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;

  background: #f6762c;
  border-radius: 5px;

  transition: opacity 0.3s;
}

.btn:hover {
  opacity: 0.8;
}

.btn--small {
  width: 140px;
  height: 40px;

  font-size: 12px;
}

/* Шапка */

.header {
  padding: 25px 0;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_list {
  display: flex;
  gap: 30px;
}

.header_nav a {
  font-size: 14px;
  opacity: 0.7;
  transition: opacity 0.3s;
}

.header_nav a.active {
  font-size: 14px;
  opacity: 1;
}

.header_nav a:hover {
  opacity: 0.9;
}

/* Приветственная секция */
.welcome {
  box-sizing: border-box;
  max-height: 100vh;

  margin-top: -110px;
  padding: 240px 0;

  background-image: url("./images/welcome-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.welcome_text {
  width: 550px;
}

.welcome_subtitle {
  margin-bottom: 7px;

  font-size: 14px;
  letter-spacing: 0.1em;
}

.welcome_title {
  font-size: 58px;
}

.welcome_desk {
  margin: 40px 0;
  font-size: 18px;
  opacity: 0.7;
}

/* Список еды */

.food-list {
  padding: 100px 0;
}

.food-list .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px 10px;
}

.food-list_card {
  width: 260px;

  overflow: hidden;
  text-align: center;

  background-color: #312f30;
  border-radius: 10px;
}

.food-list_img {
  width: 100%;
  height: 175px;
  object-fit: cover;
}

.food-list_text-wrapper {
  padding: 30px 30px;
}

.food-list_title {
  font-size: 20px;
  margin-bottom: 13px;
}

.food-list_desk {
  font-size: 16px;
  opacity: 0.7;
}

/* Order */
.order {
  background-color: #312f30;
  padding: 60px 0;
}

.order .container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-right: 90px;
}

.order_img {
  max-width: 470px;
}

.order_text {
  max-width: 360px;
}

.order_title {
  margin-bottom: 25px;
  font-size: 44px;
}

.order_desk {
  margin-bottom: 15px;
  opacity: 0.7;
}

.order_price {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.1em;
  color: #f6762c;
}

.order_price--old {
  font-size: 16px;
  text-decoration-line: line-through;
  opacity: 0.5;
}

.order_price + .order_price {
  margin-left: 3px;
}

.order .btn {
  margin-top: 10px;
}

.product {
  padding: 150px 0;
}

.product .container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.product_card {
  box-sizing: border-box;
  width: 555px;
  min-height: 300px;

  padding: 60px 30px 60px 290px;

  background-color: #4b3a3a;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.product_card:nth-child(even) {
  padding-left: 30px;
  padding-right: 290px;
}

.product_title {
  margin-bottom: 20px;
  font-size: 30px;
}

.product_desk {
  margin-bottom: 10px;
  opacity: 0.7;
}

.product_price {
  font-weight: 500;
  letter-spacing: 0.1em;
  color: #f6762c;
}

.product_price + .product_price {
  margin-left: 5px;
}

.product_price--old {
  text-decoration-line: line-through;
  opacity: 0.5;
}

.product .btn {
  margin-top: 10px;
}

.card-queen {
  background-image: url("./images/product-1.jpg");
}
.card-hut {
  background-image: url("./images/product-2.jpg");
}

.card-king {
  background-image: url("./images/product-3.jpg");
}

.card-papa {
  background-image: url("./images/product-4.jpg");
}

/* Feedback */

.feedback {
  padding-bottom: 200px;
}

.feedback .container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 880px;
}

.feedback__text {
  margin: 0;
  max-width: 370px;
  text-align: center;

  /* display: flex;
  flex-direction: column; */
}

.feedback__text::before {
  content: url("./images/icons/quote.svg");
}

.feedback_desk {
  opacity: 0.7;
  margin: 30px 0;
}

.feedback_author {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
}

.feedback_subauthor {
  font-weight: 500;
  font-size: 12px;
  opacity: 0.7;

  display: block;
}

/* Download */

.download {
  padding: 60px 0;
  background-color: #312f30;
}

.download .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.download_title {
  font-weight: 500;
  font-size: 40px;
}

/* Футер */

.footer {
  padding: 120px 0;
}

.footer a {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.8);
  transition: color 0.3s;
}

.footer a:hover {
  color: rgba(255, 255, 255, 0.9);
}

.footer .footer_title {
  display: inline-block;
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
}
.footer .container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

.footer_contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer_logo {
  width: 70px;
  margin-bottom: 20px;
}

.footer_link {
  display: flex;
  align-items: center;
  gap: 5px;
}

.footer_link + .footer_link {
  margin-top: 10px;
}

.footer_link::before {
  content: url("./images/icons/mail.svg");
  width: 12px;
  height: 12px;
}
.footer_link-mail::before {
  content: url("./images/icons/mail.svg");
}

.footer_link-web::before {
  content: url("./images/icons/global.svg");
}

.footer_nav {
}

.footer_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.footer_menu {
}

.footer_list-title {
}

.footer_inner-list {
}

.footer_list-item + .footer_list-item {
  margin-top: 15px;
}

.footer_social {
}

.footer_social-icons {
}

.footer_social-link + .footer_social-link {
  margin-left: 7px;
}

@media (max-width: 1100px) {
  .welcome_desk {
    opacity: 1;
  }
}

@media (max-width: 950px) {
  .order .container {
    flex-direction: column;
    padding-right: 0;
  }
  .order_text {
    text-align: center;
  }
  .order .btn {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 850px) {
  .food-list .container {
    justify-content: space-evenly;
  }

  .footer .container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "nav nav"
      "contacts socials";
    justify-items: center;
    gap: 20px 150px;
  }

  .footer_contacts {
    grid-area: contacts;
    justify-self: end;
  }

  .footer_nav {
    grid-area: nav;
  }

  .footer_social {
    grid-area: socials;
    align-self: center;
    justify-self: start;
  }

  .footer_list {
    gap: 100px;
  }

  .feedback {
    padding-bottom: 100px;
  }

  .footer {
    padding: 50px 0;
  }
}

@media (max-width: 650px) {
  .header .btn {
    display: none;
  }

  .feedback_img {
    width: 200px;
  }

  .download_title {
    font-size: 30px;
  }

  .welcome {
    padding: 150px 0 100px;
  }

  .welcome_text {
    width: 100%;
  }

  .welcome_title {
    font-size: 40px;
  }

  .welcome_desk {
    margin: 20px 0;
  }

  .product {
    padding: 60px 0 100px;
  }

  .product_card {
    width: 100%;

    padding-left: 50%;
  }

  .product_card:nth-child(even) {
    padding-right: 50%;
  }
}

@media (max-width: 500px) {
  .header .container {
    flex-direction: column;
    gap: 10px;
  }

  .header_list {
    flex-direction: column;
    text-align: center;
    gap: 10px;
  }

  .welcome {
    margin-top: -240px;
    padding-top: 280px;
    padding-bottom: 80px;
  }

  .welcome_subtitle {
  }

  .welcome_title {
    font-size: 30px;
  }

  .welcome_desk {
    font-size: 12px;
  }

  .food-list .order {
    padding: 50px 0;
  }

  .order_title {
    font-size: 24px;
    margin-bottom: 10px;
  }
}
